<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="it.naturtalent.design.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.view.treemasterdetail.ui.swt.masterDetailActions">
      <MasterDetailAction
            command="it.naturtalent.design.ui.actions.OpenDesignAction"
            imagePath="icons/project_open.gif"
            label="Zeichnung öffnen"
            location="menu">
      </MasterDetailAction>
      <MasterDetailAction
            command="it.naturtalent.design.ui.actions.CloseDesignAction"
            imagePath="icons/project_close.gif"
            label="Zeichnung schließen"
            location="menu">
      </MasterDetailAction>
   </extension>

</plugin>
